*{
    margin: 0;
    font-family: Helvetica, sans-serif
}

/* banner css */

.banner{
    width: 100%;
    height: 800px;
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-color: rgb(254, 182, 94);


}
.banner-text{
    width: 300px;
    text-align: right;
    position: absolute;
    top: 300px;
    right: 300px;
}

.header-title{
    color: rgb(0, 0, 0);
    font-size: 42px;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    margin-bottom: 18px;
}
.header-description{
    margin-bottom: 18px;
}

.btn-primary{
    background-color: orangered;
    color: white;
    border: none;
    /* width: 100px; */
    padding: 10px 18px;
    border-radius: 5%;
    font-weight: 900;
}

/* failure story css */
ul{
    margin: 0;
    padding: 10px;
}
li{
    margin-bottom: 10px;
    list-style: square;
}   

.person-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    margin: 120px 153px;
}
img{
    /* background-color: rgba(255, 149, 0, 0.375); */
    border-radius: 40%;
    
    
}
.failure-container{
    width: 500px;
    margin-right: 305px;
}
.failure-title{
    margin-bottom: 10px;
}
.failure-description{
    margin-bottom: 20px;
}

.failure-bullet{
    margin-bottom: 10px;
}
/* plans css */

.plan-title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    
}
.plans-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.plan{
    text-align: center;

}
.my-plan{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}
.plan-description{
    color:gray
}
/* gradien-wrist watch css */

.gradient{
    margin-top: 100px;
    position: relative;
    text-align: left;
    color: black;
   
   
}
.wrist-watch{
    
    margin-top: 100px;
    margin-left: 350px;
    background-image: url(../images/watch.png);
    border-radius: 0;
}
.gradient-text{
    position: absolute;
    left:400px;
    top: 200px;
    font-size: 34px;
    color: white;
    font-weight: 900;
}
.btn-secondary{
    position: absolute;
    background-color: white;
    color: rgb(239, 136, 11);
    padding: 18px;
    border: none;
    left: 400px;
    bottom: 50px;
    font-weight: 900;
}
.positive-mindset{
    width: 10px;
}
/* footer css */
.contact-us{
    display: flex;
    margin-top: 200px;
    width:100%;
    height: 300px;
    background-color: black;
    justify-content: space-around;
    position: absolute;
}
.future{
    color: white;
    width: 400px;
    margin-top: 70px;
}
.future-text{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.subscribe{
    color: white;
    margin-top: 70px;
    font-size: 24px
}
input{
    border-style: rgb(252, 251, 251);
    border-width: 1px;
    background-color: black;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5%;
}
.btn-secondary{
    color: orangered;
    background-color: white;
    border: none;
    padding: 10px 18px;
    margin-right: 0;
    font-weight: 800;
    border-radius: 5%;
}
.future-description, .future-email{
    margin-bottom: 10px;
}
.social-icon{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 290px;
    gap: 10px;

}
.subscribe-title{
    margin-bottom: 10px;
}
.btn-subscribe{
    color: orangered;
    background-color: white;
    border: none;
    padding: 10px 12px;
    margin-right: 0;
    border-radius: 5%;
    font-weight: 900;
}
